*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f5f5f5;
}
.container {
	max-width: 929px !important;
}
.block_1{
	width: 100%;
	height: 920px;
	background-image: url(img/bg_block1.png);
	background-repeat: no-repeat;
	background-position: 200px -377px;
}
.bg_block_1{
	width: 100%;
	height: 100%;
	background-image: url(img/bg_main_info.png);
	background-repeat: no-repeat;
	background-position: 970px 226px;
}
.bg_block_1 > .container{
	height: 100%;
	padding-top: 42px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header{
	width: 100%;
	height: 36px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	font-family: Segoe UI;
}
.logo{
	height: 100%;
}
.logo > p{
	width: 100%;
	margin: 0;
	font-size: 24px;
	font-weight: bold;
	color: black;

}
.links{
	height: 100%;
	width: 450px;
	font-size: 18px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}
.links > li{
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	text-align: center;
}
.links > li > a{
	align-items: center;
	margin: 0;
	padding: 0;
	font-weight: 400;
	color: #000;
	text-decoration: none;
}

.links a {
	display: inline-block;
	line-height: 1.4;
	text-decoration:none;
	cursor: pointer;
	position:relative;
	border: none;
}
.links a:after {
	background-color: #000;
	display: block;
	content: "";
	height: 2px;
	width: 0%;
	left: 50%;
	position:absolute;
	-webkit-transition: width .3s ease-in-out;
	-moz--transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	transform:translateX(-50%);
	}
.links a:hover:after, .links a:focus:after {
	width: 100%;
	}
.main_info{
	height: 100%;
	width: 100%;
	padding-bottom: 230px;
	background-position: 669px 153px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}
.main_info p, .main_info button{
	padding: 0px;
	border: 0px;
}
.rus{
	font-weight: bold;
	font-size: 59px;
	margin-bottom: 20px;
}
.sycophant{
	font-weight: 400;
	font-size: 16px;
}
.main_info button{
	height: 48px;
	width: 204px;
	background-image: url(img/button_block_1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0;
}
.main_info button p{
	margin: 0;
	text-align: center;
}